body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7) ), url('Casajpg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container {
    text-align: center;
  }
  
  #word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #word-container span {
    margin: 0 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
  #keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; 
  }
  
  
  #keyboard button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #13ebce;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-basis: 10%; 
    text-align: center; 
  }
  #keyboard button:hover {
    background-color: #0d8bb9;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;

  }
.titulo{
  font-size: 90px;
  color: #ffffff;
}

#word-container{
  font-size: 90px;
  color: #ffffff;
}
#reset-button {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #13ebce;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reset-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#letras-usadas {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 20px;
}
.tema{
  font-size: 50px;
  color: #ffffff;
}
 
#placar{
  font-size: 30px;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .titulo {
    font-size: 40px; 
  }}